= form_for @user, url: change_password_user_path(@user), remote: true, format: :js, html: { class: 'form-horizontal', id: :change_password } do |f|
  = render 'shared/form_error_messages', object: @user
  .row
    .offset2
      .control-group
        = f.label :current_password, class: 'control-label'
        .controls
          = f.password_field :current_password, class: 'input-large', placeholder: 'Current password'
          = render 'shared/field_error_message', object: @user, field: :current_password
      .control-group
        = f.label :password, 'New password', class: 'control-label'
        .controls
          = f.password_field :password, class: 'input-large', placeholder: 'New password'
          = render 'shared/field_error_message', object: @user, field: :password
      .control-group
        = f.label :password_confirmation, "Confirm password", class: 'control-label'
        .controls
          = f.password_field :password_confirmation, class: 'input-large', placeholder: 'Confirm password'
          = render 'shared/field_error_message', object: @user, field: :password_confirmation
      .control-group
        .controls
          = f.submit 'Change password', class: "btn btn-primary", data: { 'disable-with' => 'Changing...' }