= render layout: 'layouts/page_header', locals: { title: 'Dashboard' } do
  #game_ends_in
    #countdown.pull-right{ data: { year: @game_end.year, month: @game_end.month, day: @game_end.day } }
    %span.muted Game ends in:

.row
  .span12
    = image_tag 'http://placehold.it/940x360&text=net+income+over+time+comparison+(940x360)'
.row
  .span8
    %h2 Player standings
    = render 'player_standings_table'
  .span4
    %h2.pull-right What time is it?
    = image_tag 'http://placehold.it/370x360&text=world+clocks'
.row
  .span12
    %h2 Recent transactions
    - if @transactions.any?
      %table#recent_transactions.table.table-hover.table-striped
        %thead
          %tr
            %th ID
            %th.center Date
            %th Player
            %th Description
            %th.right Amount
        %tbody
          = render partial: 'transaction', collection: @transactions