= form_for @transaction, remote: true, format: :js, html: { id: :transaction, class: 'form-inline' } do |f|
  = render 'shared/form_error_messages', object: @transaction
  .row.controls.controls-row
    .control-group.span2
      = f.text_field :date, value: @transaction.date, placeholder: 'Date (required)', class: 'span2', data: { behavior: :datepicker }
    .control-group.span4
      = f.text_field :description, placeholder: 'Description (required)', class: 'span4'
    .control-group.span2
      = f.select :kind, options_from_collection_for_select(Transaction::VALID_KINDS, 'to_s', 'titlecase', @transaction.kind), {}, class: 'span2'
    .control-group.span2
      = f.text_field :amount, class: 'span2'
    .control-group.span2
      = f.submit 'New transaction', class: 'btn btn-primary span2', data: { 'disable-with' => 'Creating...' }