= form_for @transaction, remote: true, html: { id: :transaction, class: 'form-inline' } do |f|
  = render 'shared/form_error_messages', object: @transaction
  .row.controls.controls-row
    .control-group.span2
      = f.text_field :date, value: @transaction.date, placeholder: 'Date', class: 'span2', data: { behavior: :datepicker }
    .control-group.span4
      = f.text_field :description, placeholder: 'Description', class: 'span4'
    .control-group.span2
      %select.span2
        %option Income
        %option Expense
    .control-group.span2
      = f.text_field :amount, class: 'span2'
    .control-group.span2
      = f.submit 'New transaction', class: 'btn btn-primary span2', data: { 'disable-with' => 'Creating...' }