= render layout: 'layouts/page_header', locals: { title: 'Transactions', small_title: "for #{@user.name}" } do
  = link_to root_path, class: "btn btn-large" do
    %i.icon-arrow-left
    Back to dashboard

- if current_user?(@user)
  #new_transaction_form
    = render 'transaction_form'

#transactions_table
  - if @transactions.any?
    = render 'transactions_table'
  - else
    .center
      %h2 Whoops!
      - if current_user?(@user)
        %p It looks like you don't have any transactions yet.
        %p Complete the form above and click the "New transaction" button to create your first transaction and get started!
      - else
        %p= "It looks like #{@user.name} doesn't have any transactions yet."
        %p Better tell them to put it in gear and make some money!

= render 'edit_transaction_modal'